.filterBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .filterOptions {
    display: flex;
    width: 580px;
    max-width: 100%;
    border-radius: 40px;
    background: #f7f9fb;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
    padding: 4px;  
  }
  
  .filterButton {
    flex: 1;
    border-radius: 40px;
    background: transparent;
    padding: 7px 20px;
    font: 600 12px Inter, sans-serif;
    color: #404040;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }

  .filterButton.active {
    background-color: #404040;
    color: #fff;
  }
  
  .categorySelector {
    border-radius: 10px;
    background-color: #fdfdfd;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 6px 14px;
    border: 1px solid #8b8b8b;
    font: 400 12px Poppins, sans-serif;
    color: #bcbcbd;
    width: 170px;
    height: 15px;
    cursor: pointer;
    position: relative;
    overflow: visible;
  }
  
  .arrowIcon {
    width: 20px;
    height: 20px;
    margin-left: auto;
    transform: rotate(180deg);
  }
  
  .filterIcon {
    width: 7px;
    height: 3px;
  }
  
  .dropdownMenu {
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    width: 100%;
    background-color: white;
    border: 1px solid #8b8b8b;
    border-radius: 8px;
    color: #8b8b8b;
    z-index: 100;
  }
  
  .dropdownItem {
    padding: 8px 12px;
    font: 400 12px Poppins, sans-serif;
    background-color:  #fdfdfd;
    color: #404040;
    cursor: pointer;
    transition: background-color 0.2s;
    /* width: 170px;
    height: 15px; */
  }
  
  .dropdownItem:hover {
    background-color: #f0f0f0;
  }
  