.reg-footer {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: auto;
    text-align: right;
  }
  
  .register {
    font-size: 14px;
    color: #555;
  }
  
  .register a {
    color: #111b29;
    font-weight: 700;
    text-decoration: none;
  }
  