.login-page {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  text-align: center;
  min-height: 100vh;
  padding: 0 50px;
}

.register {
  margin-top: 20px;
  font-size: 14px;
  color: #555;
}

.register a {
  color: #0073e6;
  text-decoration: none;
}

.page-login, .intro-content {
  flex: 1; /* Allows both sections to take up equal space */
}